* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
}

main {
  overflow: hidden;
  background-color: #deeef1;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.inactive {
  width: 0 !important;
}

.inactiveHeight {
  max-height: 0px !important;
}

.overfloeHide {
  overflow: hidden;
}

header {
  position: relative;
  top: 0;
  z-index: 100;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2f7b3c;
  border-bottom: solid #4a4a4a 2px;
  padding: 0 10px;
  box-sizing: border-box;
}
header .contend-right {
  display: flex;
  align-items: center;
}
header .contend-right .burger-nav {
  position: relative;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border-radius: 5px;
}
header .contend-right .burger-nav:active {
  background-color: #8d5524;
}
header .contend-right .burger-nav .image-burger {
  width: 35px;
  height: 3px;
  background-color: #d4af37;
  position: absolute;
  top: 24px;
  left: 8px;
}
header .contend-right .burger-nav .image-burger::after, header .contend-right .burger-nav .image-burger::before {
  content: "";
  width: 35px;
  height: 3px;
  background-color: #d4af37;
  position: absolute;
}
header .contend-right .burger-nav .image-burger::after {
  top: -12px;
}
header .contend-right .burger-nav .image-burger::before {
  top: 12px;
}
header .contend-center .main-logo img {
  width: 110px;
}
header .contend-left .cart {
  position: relative;
  height: 50px;
  min-width: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .contend-left .cart img {
  height: 80%;
}
header .contend-left .cart .floatNumber {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5px;
  right: -5px;
  min-width: 20px;
  height: 20px;
  border-radius: 45%;
  background-color: #d4af37;
}
header .contend-left .cart .floatNumber p {
  font-size: 14px;
  color: #4a4a4a;
  font-weight: 800;
}

.hide-page {
  overflow: hidden;
}

.cart-float {
  display: none;
  position: fixed;
  top: 70px;
  padding: 5px;
  right: 0;
  width: 50vw;
  z-index: 1000;
  background-color: #d4af37;
  border-radius: 8px;
}
.cart-float .cart-top {
  display: flex;
  gap: 5px;
  align-items: center;
}
.cart-float .cart-top img {
  width: 56px;
  height: 56px;
  background-color: red;
}

.navBar-options {
  z-index: 1000;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  transition-property: width;
  transition-duration: 300ms;
  transition-timing-function: ease;
  background-color: #4a4a4a;
}
.navBar-options .close {
  height: 40px;
  width: 40px;
  position: absolute;
  left: calc(100vw - 50px);
  top: 5px;
}
.navBar-options .close::after, .navBar-options .close::before {
  content: "";
  height: 30px;
  width: 2px;
  position: absolute;
  top: 10px;
  left: 19px;
  background: #d4af37;
}
.navBar-options .close::after {
  transform: rotate(45deg);
}
.navBar-options .close::before {
  transform: rotate(135deg);
}
.navBar-options .wellcome-nav {
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding: 10px 0 10px 0;
  min-width: 100vw;
  color: #deeef1;
  background-color: #2f7b3c;
}
.navBar-options .content-list {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 25px;
  text-transform: capitalize;
  min-width: 95vw;
  overflow: hidden;
}
.navBar-options .content-list .contend-category {
  padding-top: 5px;
  position: relative;
}
.navBar-options .content-list .contend-category .line_category {
  height: 1px;
  width: 100%;
  margin: 0 0 10px 0;
  background-color: #d4af37;
}
.navBar-options .content-list .contend-category .content__list-nav {
  min-width: 200px;
  padding-bottom: 10px;
}
.navBar-options .content-list .contend-category .content__list-nav li {
  width: 100%;
  min-height: 70px;
  min-width: 200px;
}
.navBar-options .content-list .contend-category .content__list-nav li .contend-a_arrow {
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navBar-options .content-list .contend-category .content__list-nav li .contend-a_arrow a {
  display: block;
  color: #deeef1;
}
.navBar-options .content-list .contend-category .content__list-nav li .contend-a_arrow a:active, .navBar-options .content-list .contend-category .content__list-nav li .contend-a_arrow a:hover {
  color: #8d5524;
}
.navBar-options .content-list .contend-category .content__list-nav li .contend-a_arrow .arrow__right {
  position: relative;
  display: flex;
  align-items: center;
  border: solid 1px #d4af37;
  border-radius: 5px;
}
.navBar-options .content-list .contend-category .content__list-nav li .contend-a_arrow .arrow__right:active {
  background-color: #8d5524;
}
.navBar-options .content-list .contend-category .content__list-nav li .contend-a_arrow .arrow__right .arrow {
  position: relative;
  width: 40px;
  height: 50px;
  border-radius: 5px;
}
.navBar-options .content-list .contend-category .content__list-nav li .contend-a_arrow .arrow__right .arrow::after, .navBar-options .content-list .contend-category .content__list-nav li .contend-a_arrow .arrow__right .arrow::before {
  content: "";
  position: absolute;
  left: 20px;
  height: 15px;
  width: 2px;
  background-color: #d4af37;
}
.navBar-options .content-list .contend-category .content__list-nav li .contend-a_arrow .arrow__right .arrow::before {
  top: 13px;
  transform: rotate(-45deg);
}
.navBar-options .content-list .contend-category .content__list-nav li .contend-a_arrow .arrow__right .arrow::after {
  top: 23px;
  transform: rotate(45deg);
}
.navBar-options .content-list .contend-category .content__list-nav li .filter-name_category {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  transition-property: max-height;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.navBar-options .content-list .contend-category .content__list-nav li .filter-name_category a {
  display: block;
  text-transform: capitalize;
  font-size: 18px;
  color: #d4af37;
  padding-left: 20px;
}
.navBar-options .content-list .contend-category .content__list-nav li .filter-name_category a:hover {
  opacity: 0.5;
}
.navBar-options .content-list .contend-category .content__list-nav li .filter-name_category a:active {
  color: #8d5524;
}
.navBar-options .contend-link_social {
  width: 100%;
  margin-left: 30px;
  height: 70px;
  overflow: hidden;
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
  border-radius: 10px;
}
.navBar-options .contend-link_social img {
  padding: 1px;
  background-color: #d4af37;
  border-radius: 10px;
  width: 60px;
}
.navBar-options .bottom-autor {
  position: absolute;
  min-width: 100vw;
  bottom: 0;
  left: 0;
  margin-top: 10px;
  text-transform: capitalize;
  text-align: center;
  padding: 10px 0;
  background-color: black;
  color: white;
  font-weight: 700;
}

footer {
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: aliceblue;
  background-color: #4a4a4a;
  box-sizing: content-box;
}
footer .content-head__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
footer .content-head__footer .content-logo {
  height: 50px;
  width: 150px;
  margin: 15px 0;
  background-color: #2f7b3c;
  border-radius: 100%;
}
footer .content-head__footer .content-logo img {
  display: block;
  height: 100%;
  margin: auto;
}
footer .content-head__footer .network {
  height: 70px;
  overflow: hidden;
  display: flex;
  gap: 10px;
  border-radius: 10px;
}
footer .content-head__footer .network img {
  padding: 2px;
  background-color: #d4af37;
  border-radius: 10px;
  width: 60px;
}
footer .content-head__footer .network img:hover, footer .content-head__footer .network img:active {
  background-color: #8d5524;
  filter: brightness(0.7);
}
footer .customer ul li a {
  color: #2f7b3c;
}
footer .TandC {
  margin-bottom: 120px;
}
footer .copyright {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100vw;
  margin-bottom: 30px;
  background-color: rgb(53, 53, 53);
  position: absolute;
  left: 0;
  bottom: 5px;
  padding: 20px 0 15px 15px;
}
footer .copyright p {
  font-size: 14px;
  text-align: left;
}
footer .banner-developer {
  position: absolute;
  padding-top: 5px;
  width: 100%;
  height: 30px;
  left: 0;
  bottom: 0;
  color: aliceblue;
  background-color: black;
  text-transform: capitalize;
}
footer .banner-developer a {
  font-size: 14px;
  padding-top: 4px;
  display: flex;
  place-content: center;
}
footer .banner-developer a span {
  margin-left: 10px;
  text-transform: lowercase;
}

.style-section__arrow {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  color: #d4af37;
  border-bottom: solid #d4af37 2px;
}

.content-list__footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-transform: capitalize;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-arrow__bottom {
  position: relative;
  height: 30px;
  width: 30px;
}
.icon-arrow__bottom::after, .icon-arrow__bottom::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 15px;
  background-color: #d4af37;
  top: 14px;
  border-radius: 5px;
}
.icon-arrow__bottom::after {
  transform: rotate(45deg);
  left: 3px;
}
.icon-arrow__bottom::before {
  left: 12px;
  transform: rotate(-45deg);
}
.icon-arrow__bottom:active {
  background-color: #8d5524;
  border-radius: 50%;
}

.inactive-footer {
  max-height: 0;
  overflow: hidden;
}

.go_init {
  position: fixed;
  z-index: 100;
  right: 10px;
  bottom: 10px;
  height: 60px;
  width: 60px;
  border-radius: 25px;
  border: solid #4a4a4a 2px;
  display: none;
  align-items: center;
  justify-content: center;
}
.go_init.more_18 {
  border-color: #d4af37;
}
.go_init .arrow_top {
  background-color: #4a4a4a;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: relative;
}
.go_init .arrow_top::after, .go_init .arrow_top::before {
  content: "";
  height: 20px;
  width: 4px;
  position: absolute;
  top: 13px;
  background-color: #d4af37;
  border-radius: 2px;
}
.go_init .arrow_top::after {
  left: 17px;
  transform: rotate(45deg);
}
.go_init .arrow_top::before {
  left: 30px;
  transform: rotate(-45deg);
}
.go_init .arrow_top.more_18 {
  background-color: #d4af37;
}
.go_init .arrow_top.more_18::after, .go_init .arrow_top.more_18::before {
  background-color: black;
}

.background-item {
  display: none;
  z-index: 1000;
  position: fixed;
  width: 100vw;
  top: 0;
  height: 100vh;
  background-color: black;
  opacity: 0.8;
}

.contend-float_product {
  display: none;
  position: fixed;
  z-index: 1100;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #2f7b3c;
}
.contend-float_product .close-section {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 5px;
  top: -45px;
}
.contend-float_product .close-section::before {
  content: "";
  background-color: #d4af37;
  width: 40px;
  height: 4px;
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translate(-23%, -50%) rotate(-45deg);
  border-radius: 1px;
}
.contend-float_product .close-section::after {
  content: "";
  background-color: #d4af37;
  width: 40px;
  height: 4px;
  position: absolute;
  top: 50%;
  transform: translate(3%, -50%) rotate(45deg);
}
.contend-float_product .foat-product_select {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 10%;
}
.contend-float_product .foat-product_select .contend-product {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  display: flex;
  gap: 20px;
  border-radius: 5px;
  background-color: #deeef1;
}
.contend-float_product .foat-product_select .contend-product .product-section_text {
  width: 100%;
}
.contend-float_product .foat-product_select .contend-product .product-section_text h4 {
  padding: 5px 0;
  font-size: 18px;
  text-transform: capitalize;
}
.contend-float_product .foat-product_select .contend-product .content_price__rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.contend-float_product .foat-product_select .contend-product .content_price__rate .product-price {
  width: 40%;
  font-size: 24px;
  font-weight: 700;
}
.contend-float_product .foat-product_select .contend-product .product-section_img {
  height: 80px;
}

.main-list__product {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
.main-list__product.more_18 {
  background-color: black;
  color: #d4af37;
}
.main-list__product .category-name {
  position: sticky;
  top: 0px;
  width: 100vw;
}
.main-list__product .category-name .title-name__section {
  box-sizing: border-box;
  padding: 10px 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 800;
  color: #2f7b3c;
}
.main-list__product .category-name .title-name__section.more_18 {
  color: #d4af37;
}
.main-list__product .tag-product {
  position: sticky;
  top: 10px;
  width: 100vw;
  display: flex;
  gap: 10px;
  overflow: auto;
  padding: 10px 10px;
  box-sizing: border-box;
  background-color: #2f7b3c;
}
.main-list__product .tag-product div {
  flex: none;
  height: 100%;
  border: solid #d4af37 1px;
  color: #d4af37;
}
.main-list__product .tag-product div:active {
  border-color: #8d5524;
  color: #8d5524;
  background-color: #4a4a4a;
}
.main-list__product .tag-product div p {
  display: block;
  padding: 10px 15px;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}
.main-list__product .only-liquor_store {
  width: 100vw;
}
.main-list__product .only-liquor_store p {
  padding: 10px 5px;
  letter-spacing: 4px;
  display: block;
  width: 100vw;
  color: white;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  animation-name: changeColor;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.main-list__product .content-products__items {
  display: grid;
  grid-template-columns: calc(50vw - 15px) calc(50vw - 15px);
  gap: 10px;
  margin-top: 10px;
  place-content: center;
  box-sizing: border-box;
}
.main-list__product .content-products__items .content-article {
  width: 100%;
  color: #4a4a4a;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-sizing: border-box;
}
.main-list__product .content-products__items .content-article .content-title__product {
  width: 100%;
}
.main-list__product .content-products__items .content-article .content-title__product .product-name {
  text-transform: capitalize;
  text-align: center;
}
.main-list__product .content-products__items .content-article .content-image {
  display: flex;
  align-items: center;
  height: 150px;
  width: 90%;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 10px;
}
.main-list__product .content-products__items .content-article .content-image .product-img_left {
  height: 100%;
  width: 75%;
  overflow: hidden;
  position: relative;
}
.main-list__product .content-products__items .content-article .content-image .product-img_left img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.main-list__product .content-products__items .content-article .content-image .product-img_right {
  height: 100%;
  width: 25%;
  display: flex;
  gap: 2px;
  flex-direction: column;
  text-align: center;
}
.main-list__product .content-products__items .content-article .content-image .product-img_right .product-img__right-top {
  margin: 0;
  padding: 0;
  height: 75%;
  position: relative;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
}
.main-list__product .content-products__items .content-article .content-image .product-img_right .product-img__right-top p {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}
.main-list__product .content-products__items .content-article .content-image .product-img_right .product-img__right-bottom {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  flex-direction: column;
  letter-spacing: 0;
  line-height: 10px;
  border-top-left-radius: 10px;
}
.main-list__product .content-products__items .content-article .content-image .product-img_right .product-img__right-bottom .size {
  font-size: 12px;
}
.main-list__product .content-products__items .content-article .product-name {
  font-size: 16px;
  font-weight: 700;
}
.main-list__product .content-products__items .content-article .content_price__rate {
  width: 100%;
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  background-color: #deeef1;
  box-sizing: border-box;
}
.main-list__product .content-products__items .content-article .content_price__rate .product-price {
  color: #2f7b3c;
  font-weight: 600;
  font-size: 22px;
}
.main-list__product .content-products__items .content-article .content_price__rate .add-product_cart {
  border-radius: 10px;
  display: flex;
  border: 10%;
}
.main-list__product .content-products__items .content-article .content_price__rate .add-product_cart:active {
  background-color: #2f7b3c;
}
.main-list__product .content-products__items .content-article .content_price__rate p .old-price {
  text-decoration: line-through;
}

@keyframes changeColor {
  from {
    color: #d4af37;
    border-top: solid #d4af37 2px;
    border-bottom: solid #d4af37 2px;
  }
  to {
    color: white;
    border-top: solid white 2px;
    border-bottom: solid white 2px;
  }
}

/*# sourceMappingURL=products-list.css.map */
