footer
  section.content-head__footer
    div.content-logo
      img(src="../img/new/2-removebg-preview.png", alt="")
    div.network
      a(href="https://www.facebook.com/" target="_blank") 
        img(src="../img/icon/facebook.png", alt="",class="facebook")
      a(href="https://www.whatsapp.com/" target="_blank") 
        img(src="../img/icon/instagram.png", alt="",class="intagram")
      a(href="https://www.instagram.com/" target="_blank") 
        img(src="../img/icon/whatsapp.png", alt="",class="whatsapp")
  section.suppliers.icon_intagram
    div.style-section__arrow
      p proveedores oficiales
      div.icon-arrow__bottom.arrow-suppliers
    ul.content-list__footer.list-suppliers.inactive-footer  
  section.customer
    div.style-section__arrow
      p quiero ser cliente
      div.icon-arrow__bottom.arrow-customer
    ul.content-list__footer.inactive-footer.list-customer
      li Beneficios de ser cliente
      li
        a(href="./singup.html") Registrarme
  section.TandC
    div.style-section__arrow
      p terminos y condiciones
      div.icon-arrow__bottom.arrow-TandC
    ul.content-list__footer.inactive-footer.list-TandC
      li terminos y condiciones
  section.copyright
    p © TODOS LOS DERECHOS RESERVADOS
    p Prolongación Av. 15 de Julio, Ate, Perú
  section.banner-developer
    a(href="https://riszartdaryl.site/" target="_blank") web devolper - Riszart Daryl
  script(src="../js/footer.js")