header.header
  section.contend-right
    div.burger-nav
      //- img(src="../../public/img/svg/burger-simple-svgrepo-com.svg", alt="").image-burger
      div.image-burger
  section.contend-center
    a.main-logo(href='../../../public/html/index.html')
      img(src="/public/img/new/2-removebg-preview.png", alt="") 
  section.contend-left
    a.cart(href="../../../public/html/cart.html")
      img(src="/public/img/svg/cart.svg")
      div.floatNumber 
        p.product-count 0