section.navBar-options.inactive
  div.contend-header
    div.close
    img(src="../img/new/z3d.png", alt="", srcset="")
    div.igm
  section.content-list
    include category.pug
  section.contend-link_social
    a(href="https://www.facebook.com/" target="_blank") 
      img(src="../img/icon/facebook.png", alt="")
    a(href="https://www.whatsapp.com/" target="_blank") 
      img(src="../img/icon/whatsapp.png", alt="")
    a(href="https://www.instagram.com/" target="_blank") 
      img(src="../img/icon/instagram.png", alt="")
  section.bottom-autor
    a(href="" target="_blank") web devolper - Riszart Daryl