section.navBar-options.inactive
  div.close
  h3.wellcome-nav !Hola¡
  //- section.content-search
  //-   button.search-button 
  //-     img(src="", alt="")
  //-   input(type="search")
  section.content-list
    include category.pug
    //- include brand.pug
  section.contend-link_social
    a(href="https://www.facebook.com/" target="_blank") 
      img(src="/public/img/icon/facebook.png", alt="")
    a(href="https://www.whatsapp.com/" target="_blank") 
      img(src="/public/img/icon/whatsapp.png", alt="")
    a(href="https://www.instagram.com/" target="_blank") 
      img(src="/public/img/icon/instagram.png", alt="")
  section.bottom-autor
    a(href="" target="_blank") web devolper - Riszart Daryl