
<header class="header">
  <section class="contend-right">
    <div class="burger-nav">
      <div class="image-burger"></div>
    </div>
  </section>
  <section class="contend-center"><a class="main-logo" href="./index.html"><img src="../img/new/2-removebg-preview.png" alt=""/></a></section>
  <section class="contend-left"><a class="cart" href="./cart.html"><img src="../img/svg/cart.svg"/>
      <div class="floatNumber"> 
        <p class="product-count">0</p>
      </div></a></section>
</header>