
<section class="navBar-options inactive">
  <div class="contend-header">
    <div class="close"></div><img src="../img/new/z3d.png" alt="" srcset=""/>
    <div class="igm"></div>
  </div>
  <section class="content-list">
    <section class="contend-category">
      <ul class="content__list-nav"></ul>
    </section>
  </section>
  <section class="contend-link_social"><a href="https://www.facebook.com/" target="_blank"> <img src="../img/icon/facebook.png" alt=""/></a><a href="https://www.whatsapp.com/" target="_blank"> <img src="../img/icon/whatsapp.png" alt=""/></a><a href="https://www.instagram.com/" target="_blank"> <img src="../img/icon/instagram.png" alt=""/></a></section>
  <section class="bottom-autor"><a href="" target="_blank">web devolper - Riszart Daryl</a></section>
</section>