
<section class="navBar-options inactive">
  <div class="close"></div>
  <h3 class="wellcome-nav">!Hola¡</h3>
  <section class="content-list">
    <section class="contend-category">
      <div class="line_category"></div>
      <ul class="content__list-nav"></ul>
    </section>
  </section>
  <section class="contend-link_social"><a href="https://www.facebook.com/" target="_blank"> <img src="../img/icon/facebook.png" alt=""/></a><a href="https://www.whatsapp.com/" target="_blank"> <img src="../img/icon/whatsapp.png" alt=""/></a><a href="https://www.instagram.com/" target="_blank"> <img src="../img/icon/instagram.png" alt=""/></a></section>
  <section class="bottom-autor"><a href="" target="_blank">web devolper - Riszart Daryl</a></section>
</section>