.go_init{
  position: fixed;
  z-index: 100;
  right: 10px;
  bottom: 10px;
  height: 60px;
  width: 60px; 
  border-radius: 25px;
  border: solid $dark-grey 2px;
  display: none;
  align-items: center;
  justify-content: center;
  &.more_18{
    border-color: $soft-gold;
  }
  .arrow_top{
    background-color: $dark-grey;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: relative;
    &::after,&::before {
      content: "";
      height: 20px;
      width: 4px;
      position: absolute;
      top: 13px;
      background-color: $soft-gold;
      border-radius: 2px;
    }
    &::after{
      left: 17px;
      transform: rotate(45deg);
    }
    &::before{
      left: 30px;
      transform: rotate(-45deg);
    }
    &.more_18{
      background-color: $soft-gold;
      &::after, &::before{
        background-color: black;
      }
    }
  }
}
.background-item{
  display: none;
  z-index: 1000;
  position: fixed;
  width: 100vw;
  top: 0;
  height: 100vh;
  background-color: black;
  opacity: .8;
}
.contend-float_product{
  display: none;
  position: fixed;
  z-index: 1100;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translate(0 , -50%);
  background-color: $soft-cream;
  .close-section{
    height: 40px;
    width: 40px;
    position: absolute;
    right: 5px;
    top: -45px;
    &::before{
      content: "";
      background-color: $soft-gold;
      width: 40px;
      height: 4px;
      position: absolute;
      left: 25%;
      top: 50%;
      transform: translate(-23%,-50%) rotate(-45deg);
      border-radius: 1px;
    }
    &::after{
      content: "";
      background-color: $soft-gold;
      width: 40px;
      height: 4px;
      position: absolute;
      top: 50%;
      transform: translate(3%,-50%) rotate(45deg);
    }
  }
  .foat-product_select{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px;
    .contend-product{
      box-sizing: border-box;
      padding: 5px;
      width: 100%;
      display: flex;
      gap: 20px;
      border-radius: 5px;
      background-color: white;
      .product-section_text{
        width: 100%;
        h4{
          padding: 5px 0;
          font-size: 18px;
          text-transform: capitalize
        }
      }
      .content_price__rate{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .product-price{
          width: 40%;
          font-size: 18px;
          font-weight: 700;
        }
        .add-product_cart-section{
          text-transform: capitalize;
          display: flex;
          align-items: center;
          gap: 3px;
          border-radius: 8px;
          padding: 4px 5px;
          background-color: $dark-green;
          color: $soft-cream;
          font-size: 16px;
          font-weight: 600;
          &:active{
            background-color: $soft-gold;
          }
          img{
            width: 35px;
          }
        }
      }
      .product-section_img{
        height: 80px;
      }
    }
  }
}

.main-list__product{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  &.more_18{
    background-color: black;
    color: $soft-gold;
  }
  .category-name{
    position: sticky;
    top: 0px;
    width: 100vw;
    .title-name__section{
      box-sizing: border-box;
      padding: 10px 10px;
      font-size: 20px; 
      text-transform: uppercase;
      font-weight: 800;
      color: $dark-green;
      &.more_18{
        color: $soft-gold;      
      }
    }
  }
  .tag-product{
    position: sticky;
    top: 10px;
    width: 100vw;
    display: flex;
    gap: 10px;
    overflow: auto;
    padding: 10px 10px;
    box-sizing: border-box;
    background-color: $dark-green;
    div{
      flex: none;
      height: 100%;
      border: solid $soft-gold 1px;
        color: $soft-gold;
      &:active{
        border-color: $reddish-brown;
        color: $reddish-brown;
        background-color: $dark-grey;
      }
      p{
        display: block;
        padding: 10px 15px;
        text-transform: capitalize;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }

  .only-liquor_store{
    width: 100vw;
    // border-top: solid $soft-gold 2px;
    // border-bottom: solid $soft-gold 2px;
    // overflow: auto;
    p{
      padding: 10px 5px;
      letter-spacing: 4px;
      display: block;
      width: 100vw;
      color: white;
      text-align: center;
      box-sizing: border-box;
      font-size: 20px;
      font-weight: 900;
      text-transform: uppercase;
      animation-name: changeColor;
      animation-direction: alternate;
      animation-timing-function: ease;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      
    }
  }

  .content-products__items {
    display: grid;
    grid-template-columns: calc(50vw - 15px) calc(50vw - 15px);
    gap: 10px;
    margin-top: 10px;
    place-content: center;
    box-sizing: border-box;
    .content-article{
      position: relative;
      width: 100%;
      color: $dark-grey;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      // border: solid $dark-green 2px;
      justify-content: space-between;
      background-color: white;
      box-sizing: border-box;
      .offer-product{
        display: none;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        font-weight: 600;
        border-radius: 5px;
        position: absolute;
        left: 0;
        bottom: 100px;
        color: white;
        background-color: rgb(255, 55, 55);
        .offer-name{
          margin-right: 5px;
        }
        .offer-contend_data{
          display: flex;
        }
      }
      .content-title__product{
        width: 100%;
        .product-name{
          text-transform: capitalize;
          text-align: center;
        }
      }
      .content-image {
        display: flex;
        align-items: center;
        height: 150px;
        width: 90%;
        overflow: hidden;
        margin: 10px 0;
        border-radius: 10px;
        .product-img_left{
          height: 100%;
          width: 75%;
          overflow: hidden;
          position: relative;
          img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
            width: 100%;
          }
        }
        .product-img_right{
          height: 100%;
          width: 25%;
          display: flex;
          gap: 2px;
          flex-direction: column;
          text-align: center;
          .product-img__right-top{
            margin: 0;
            padding: 0;
            height: 75%;
            position: relative;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            display: flex;
            justify-content: center;
            align-items: center;
            border-top-right-radius: 10px;
            p{
              display: block;
              text-transform: uppercase;
              font-size: 12px;
              font-weight: 700;
            }
          }
          .product-img__right-bottom{
            height: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            flex-direction: column;
            letter-spacing: 0;
            line-height: 10px;
            border-top-left-radius: 10px;
            .size{
              font-size: 12px;
            }
          }
        }
      }

      .product-name{
        font-size: 16px;
        font-weight: 700;
      }
      .content_price__rate{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        .product-price{
          box-sizing: border-box;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 5px;
          width: 100%;
          background-color: $soft-cream;
          .product-new_price{
            color: $dark-green;
            font-weight: 600;
            font-size: 22px;
          }
          .product-old_price{
            max-width: 100px;
            position: relative;
            color: red;
            font-size: 18px;
            font-weight: 600;
            &::before{
              content: "";
              width: 100%;
              height: 2px;
              position: absolute;
              top: 50%;
              transform: rotate(15deg);
              background-color: red;
            }
          }
        }
        .add-product_cart{
          box-sizing: border-box;
          width: 100%;
          margin: 10px;
          border-radius: 5px;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $dark-green;
          &:active{
            background-color: $soft-gold;
          }
          p{
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 16px;
            font-weight: 700;
            color: white;
          }
        }
        p{
          .old-price{
            text-decoration: line-through;
          }
        }
      }
    }
  }
}
// .space-phrase{
//   display: none;
//   height: 45px;
// }
// .phrase{
//   display: none;
//   top: 70px;
//   position: fixed;
//   width: 100%;
//   padding: 15px 0;
//   text-transform: uppercase;
//   font-size: 14px;
//   background-color: black;
//   color: white;
// }